@model SMECommerce.Models.CategoryCreate.CategoryCreateVM

<h1>Create Category</h1>

<form method="post">

    Name:<input asp-for="CategoryName"/><br />

    Code:<input asp-for="Code" /><br />

    Description:<input asp-for="Description" /><br />
    <input type="submit" name="Save" />
</form>
